.about {
  background-color: #0a2850;
  color: #fff;
  z-index: 1;
  padding: 100px 80px 173px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about__circle {
  position: absolute;
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.about__title {
  position: relative;
  z-index: 5;
  max-width: 251px;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.about__content {
  margin: 19px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 660px;
  position: relative;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.about__paragraph {
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
}
