.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.reservation__title {
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.reservation__form {
  margin: 0 auto;
}
