/* use Times New Roman as a fallback font when and if using Noto Serif
  font during this project */

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
