/* use Times New Roman as a fallback font when and if using Noto Serif
  font during this project */

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-top: 30px;
  padding-right: 80px;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  min-width: 800px;
  height: 100vh;
  width: 100vw; /* Ensure the header takes up the full width */
  position: relative;
}

.header__title {
  max-width: 729px;
  padding-left: 80px;
  padding-top: 213px;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  z-index: 2;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  display: block;
  max-width: 683px;
  padding-top: 28px;
  padding-left: 80px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-height: 568px;
  max-width: 646px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__hours {
  padding-left: 80px;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__address {
  padding-right: 80px;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  min-width: 800px;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  max-width: 438px;
  padding-left: 80px;
  padding-top: 24px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  border-style: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter", Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 215px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form {
  max-width: 385px;
  margin-top: 80px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  border: none;
}

.form__label {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-top: 32px;
  padding-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  border-color: #838383;
  border: 1px solid #838383;
  height: 60px;
  width: 100%;
  padding: 0 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 10px;
}
.checkbox-container {
  display: flex;
  align-items: center;
}

.invisible-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
}

.visible-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #2f80ed;
  border-radius: 2px;
  margin-right: 12px;
}

.invisible-checkbox:checked + .visible-checkbox {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form__button[type="submit"] {
  margin-bottom: 32px;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(47, 128, 237);
  transition: background-color 1s linear 1s;
  color: #fff;
  padding: 0 10px;
  border: 1px solid #838383;
  display: block;
  box-sizing: border-box;
}

.form__button:hover {
  background-color: rgba(47, 128, 237, 0.7);
}

.form__input[type="datetime-local"] {
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #fff;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #838383;
  height: 60px;
}
